<template name="appLayout">
<!--[if lt IE 9]> <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i>Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/"  target="_blank">upgrade your browser</a> to properly view this website.</p>
<![endif]-->
    {{> _header}}
    <div class="container">
        <div class="row">
            <div class = "col-lg-8 col-md-8"></div>
            <div class="col-lg-2 col-md-2"></div>
            <div><h3>31 July 8PM</h3></div>
        </div>
    </div>
    {{> yield}}
    {{> _footer}}
</template>
